Smart Agriculture IoT - flows.json
[{"id":"58e42462.af9b94","type":"inject","z":"a87c325f.c818a","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":60,"wires":[["f8166481.b2a148"]]},{"id":"f8166481.b2a148","type":"http request","z":"a87c325f.c818a","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Kota,IN&appid=2a51e1063bcb8cc396a2a78d87bd46a9","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":100,"wires":[["b6cf9111.ea5518"]]},{"id":"e4376ec2.ebe278","type":"ibmiot in","z":"a87c325f.c818a","authentication":"apiKey","apiKey":"5266fd5d.150dd4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1999","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":290,"y":160,"wires":[["b6cf9111.ea5518","7b7765eb.bc6ed4","2cb6eeb6.2605fa","bdca86b4.4328d"]]},{"id":"2cb6eeb6.2605fa","type":"function","z":"a87c325f.c818a","name":"Humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":80,"wires":[["b6cf9111.ea5518","de23025e.08c53"]]},{"id":"de23025e.08c53","type":"ui_gauge","z":"a87c325f.c818a","name":"","group":"b3e12403.4843e8","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"g/m^3","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":60,"wires":[]},{"id":"b6cf9111.ea5518","type":"debug","z":"a87c325f.c818a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":160,"wires":[]},{"id":"5f442fe8.707ad","type":"ui_gauge","z":"a87c325f.c818a","name":"","group":"b3e12403.4843e8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":240,"wires":[]},{"id":"e1bb4468.f5d0d8","type":"ui_gauge","z":"a87c325f.c818a","name":"","group":"b3e12403.4843e8","order":16,"width":0,"height":0,"gtype":"gage","title":"Soil_Moisture","label":"%","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":320,"wires":[]},{"id":"bdca86b4.4328d","type":"function","z":"a87c325f.c818a","name":"Soil_Moisture","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":320,"wires":[["b6cf9111.ea5518","e1bb4468.f5d0d8"]]},{"id":"7b7765eb.bc6ed4","type":"function","z":"a87c325f.c818a","name":"Temperature","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":240,"wires":[["b6cf9111.ea5518","5f442fe8.707ad"]]},{"id":"8d0ef4be.ba7a98","type":"ibmiot out","z":"a87c325f.c818a","authentication":"apiKey","apiKey":"5266fd5d.150dd4","outputType":"cmd","deviceId":"1999","deviceType":"nodemcu","eventCommandType":"data","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":820,"y":480,"wires":[]},{"id":"513ea80d.9f72e8","type":"ui_button","z":"a87c325f.c818a","name":"","group":"b3e12403.4843e8","order":2,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":320,"y":460,"wires":[["8d0ef4be.ba7a98","b6cf9111.ea5518"]]},{"id":"dbfe7c56.dc6ed8","type":"ui_button","z":"a87c325f.c818a","name":"","group":"b3e12403.4843e8","order":3,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":330,"y":560,"wires":[["8d0ef4be.ba7a98","b6cf9111.ea5518"]]},{"id":"5266fd5d.150dd4","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"b3e12403.4843e8","type":"ui_group","z":"","name":"IoT","tab":"d2ca8eb5.76d558","order":1,"disp":true,"width":"6","collapse":false},{"id":"d2ca8eb5.76d558","type":"ui_tab","z":"","name":"SmartAgriculture","icon":"dashboard","disabled":false,"hidden":false}]